@page
@model HistoryModel
@{
    ViewData["Title"] = "History page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<!-- Chart.js-->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<!-- full calendar -->
<script src="
https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js
"></script>

<div class="text-center">

    <h1 class="display-4" style = "color: white">Your Pets Monthly Reports</h1>
    
</div>

<div class = "history_container">
<div class = "piechart-container">
  <canvas id="myChart" width="200" height="100" ></canvas>

  <script>
const xValues = ["Happy", "Sad", "Angry", "Other"];
const yValues = [12, 8, 9, 10];
const barColors = ["#F78D7D", "#9BB9C3","#CB9897", "#FFCCBB"];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues,
      color: '#ffffff',
    }]
  },
  options: {
    title: {
      display: true,
      text: "Emotions Breakdown",
      color: '#ffffff',
    }
  }
});
</script>


</div>
   
<!-- <script src="fullcalendar/dist/index.global.js"></script>
<script> -->

<div class = "calendar-container">
 <script> 

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          selectable: true,
          eventClick: function(info) {
                     alert('On this day, your pets emotion was: ' + info.event.title);
                  
                     info.el.style.borderColor = 'red';
                    
          },
          events: [
          {
            id: 'a',
            daysOfWeek : ['1', '4'],
            title: 'sad',
            startRecur: '2024-04-01', 
            endRecur: '2024-04-30',
            backgroundColor: '#9BB9C3'
          },
          {
            id: 'b',
            daysOfWeek : ['2', '5'],
            title: 'happy',
            startRecur: '2024-04-01',
            endRecur: '2024-04-30',
            backgroundColor: '#F78D7D'
          }, 
          {
            id: 'c',
            daysOfWeek : ['3', '6'],
            title: 'angry',
            startRecur: '2024-04-01',
            endRecur: '2024-04-30', 
           // endTime: '11:59'
           backgroundColor: '#CB9897'
          },
          {
            id: 'd',
            daysOfWeek : ['0'],
            title: 'other',
            startRecur: '2024-04-01',
            endRecur: '2024-04-30', 
           // endTime: '11:59'
           backgroundColor: '#FFCCBB'
          }
          ],
          textColor: 'white'

        });
        var event1 = calendar.getEventById('a')
        var event2 = calendar.getEventById('b')
        var event3 = calendar.getEventById('c')
        var event4 = calendar.getEventById('d')
       //var start1 = event1.start
        //var start2 = event2.startRecur
      //  var end2 = event2.endRecur
       //var startTime2 = event2.startTime
       
       // var endTime = event.end
      //  console.log(start1.toISOString())
      // console.log(start2.toISOString())
        calendar.render();
      });

    </script>
<body style="background-color: #222831;">
    <div id='calendar' ></div>
  </body>
</div>
</div>


