@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h1 class="display-4">This is your pets emotion</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<!--
    <a href="History" target="_blank">
    <button>Click to view your history!</button>
</a>
-->

</div>
