@page
@model IndexModel
@{
    ViewData["Title"] = "PetVibes - Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome to PetVibes</h1>
            <p class="lead">Get insights into your pet's emotions based off our Machine Learning algorithm!</p>
            <p>Create an account to save past images or click below to start uploading now.</p>
            <a href="/FileUpload" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</body>
</html>