@page
@model IndexModel
@{
    ViewData["Title"] = "PetVibes - Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="index">

    <div class="container">
        <div class="index__container">
            <div class="main__content">

            
            <h1>Learn About Your Pet</h1>
            <h2>Get insights into your pet's emotions based off our Machine Learning algorithm!</h2>
            <button class="index__btn"><a href="/FileUpload" style="text-decoration:none">Get Started</a></button>

        </div>
        <div class="main__index--container">
            <img src="images/pic1.svg" alt="pic" id="index__img"/>
            
        </div>
        </div>
           
        </div>
    </div>
    
</body>
</html>